<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mybatis.ClientInfoMapper">

  <insert id="insertClientInfo" useGeneratedKeys="true"    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;client_info&quot;
    (&quot;client_id&quot;,&quot;client_name&quot;) values
    (#{clientId,jdbcType=VARCHAR},#{clientName,jdbcType=VARCHAR})
  </insert>

  <delete id="truncateClientInfo">
 	 truncate table &quot;public&quot;.&quot;client_info&quot;
	</delete>

  <delete id="cleanClientInfoTblId">
 	 select setval(&apos;client_info_tbl_id_seq&apos;, 1, false)
  </delete>

  <select id="selectClientEarningsInfo" resultType="hashmap">
    select client_info.client_id, sum(earnings_view.earnings) as sum_earnings,
      sum(earnings_view.biz_months) as sum_biz_months,
      sum(earnings_view.earnings) / sum(earnings_view.biz_months) as earmings_per_month
    from  project_info
      inner join  project_enrolled_hist_info
        on project_info.project_id = project_enrolled_hist_info.project_id
      inner join  earnings_view
        on earnings_view.enrolled_hist_id = project_enrolled_hist_info.enrolled_hist_id
            inner join  client_info
        on client_info.client_id = project_info.client_id
    group by  client_info.client_id
    order by sum_earnings desc
  </select>


</mapper>
