<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mybatis.ProjectInfoMapper">

  <select id="selectProjectInfo" resultType="ProjectInfo">
    select * from project_info where project_id = #{projectId}
  </select>

  <insert id="insertProjectInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;project_info&quot;
     (&quot;project_id&quot;, &quot;project_name&quot;, &quot;client_id&quot;,
      &quot;start_date&quot;, &quot;end_date&quot;, &quot;project_status&quot;) values
       (#{projectId,jdbcType=VARCHAR},#{projectName,jdbcType=VARCHAR},#{clientId,jdbcType=VARCHAR},
       #{startDate,jdbcType=DATE},#{endDate,jdbcType=DATE},#{projectStatus,jdbcType=INTEGER})
  </insert>

  <delete id="truncateProjectInfo">
 	 truncate table &quot;public&quot;.&quot;project_info&quot;
	</delete>

  <delete id="cleanProjectInfoTblId">
 	 select setval(&apos;project_info_tbl_id_seq&apos;, 1, false)
  </delete>

  <update id="updateProjectInfo">
    update project_info set
    end_date = #{endDate},
    project_status = #{projectStatus}
    where project_id = #{projectId}
  </update>


</mapper>
