<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mybatis.DeusMapper">
  <select id="selectMemberHistInfo" resultType="MemberHistInfo">
    select * from member_hist_info where tbl_id = #{tblId}
  </select>

  <select id="selectAllMemberHistInfo" resultType="MemberHistInfo">
    select * from member_hist_info
  </select>

  <select id="selectAllMemberYearCount" resultType="YearCount">
    select to_char(enter_date, &apos;YYYY&apos;) as year,count(*) as count
    from &quot;member_hist_info&quot; where status = &apos;0&apos; group by year order by year
  </select>

  <insert id="insertMemberHistInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;member_hist_info&quot;
     (&quot;project_id&quot;, &quot;project_name&quot;, &quot;start_date&quot;, &quot;name&quot;, &quot;enter_date&quot;, &quot;enter_old&quot;,
     &quot;status&quot;, &quot;retirement_date&quot;, &quot;retirement_type&quot;, &quot;sex&quot;,
     &quot;flesh_or_not&quot;, &quot;department&quot;, &quot;position&quot;) values
       (#{memberId,jdbcType=VARCHAR},#{startDate,jdbcType=DATE},#{name,jdbcType=VARCHAR},#{enterDate,jdbcType=DATE},
       #{enterOld,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{retirementDate,jdbcType=DATE},
       #{retirementType,jdbcType=INTEGER},#{sex,jdbcType=INTEGER},#{fleshOrNot,jdbcType=INTEGER},
       #{department,jdbcType=INTEGER},#{position,jdbcType=INTEGER})
  </insert>

  <insert id="insertManyMemberHistInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;member_hist_info&quot;
     (&quot;member_id&quot;, &quot;start_date&quot;, &quot;name&quot;, &quot;enter_date&quot;, &quot;enter_old&quot;,
     &quot;status&quot;, &quot;retirement_date&quot;, &quot;retirement_type&quot;, &quot;sex&quot;,
     &quot;flesh_or_not&quot;, &quot;department&quot;, &quot;position&quot;) values
    <foreach item="item" collection="list" separator=",">
       (#{item.memberId,jdbcType=VARCHAR},#{item.startDate,jdbcType=DATE},#{item.name,jdbcType=VARCHAR},
       #{item.enterDate,jdbcType=DATE},#{item.enterOld,jdbcType=INTEGER},#{item.status,jdbcType=INTEGER},
       #{item.retirementDate,jdbcType=DATE},#{item.retirementType,jdbcType=INTEGER},
       #{item.sex,jdbcType=INTEGER},#{item.fleshOrNot,jdbcType=INTEGER},
       #{item.department,jdbcType=INTEGER},#{item.position,jdbcType=INTEGER})
    </foreach>
  </insert>

  <update id="updateMemberHistInfo">
    update member_hist_info set
    status = #{status},
    retirement_date = #{retirementDate},
    retirement_type = #{retirementType}
    where member_id = #{memberId}
  </update>

  <delete id="truncateMemberHistInfo">
 	 truncate table &quot;public&quot;.&quot;member_hist_info&quot;
  </delete>
  <delete id="cleanMemberHistInfoTblId">
 	 select setval(&apos;member_hist_info_tbl_id_seq&apos;, 1, false)
  </delete>

  <insert id="insertClientInfo" useGeneratedKeys="true"    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;client_info&quot;
    (&quot;client_id&quot;,&quot;client_name&quot;) values
    (#{clientId,jdbcType=VARCHAR},#{clientName,jdbcType=VARCHAR})
  </insert>

  <delete id="truncateClientInfo">
 	 truncate table &quot;public&quot;.&quot;client_info&quot;
	</delete>

  <delete id="cleanClientInfoTblId">
 	 select setval(&apos;client_info_tbl_id_seq&apos;, 1, false)
  </delete>


  <select id="selectProjectInfo" resultType="ProjectInfo">
    select * from project_info where project_id = #{projectId}
  </select>


  <insert id="insertProjectInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;project_info&quot;
     (&quot;project_id&quot;, &quot;project_name&quot;, &quot;client_id&quot;,
      &quot;start_date&quot;, &quot;end_date&quot;, &quot;project_status&quot;) values
       (#{projectId,jdbcType=VARCHAR},#{projectName,jdbcType=VARCHAR},#{clientId,jdbcType=VARCHAR},
       #{startDate,jdbcType=DATE},#{endDate,jdbcType=DATE},#{projectStatus,jdbcType=INTEGER})
  </insert>

  <delete id="truncateProjectInfo">
 	 truncate table &quot;public&quot;.&quot;project_info&quot;
	</delete>

  <delete id="cleanProjectInfoTblId">
 	 select setval(&apos;project_info_tbl_id_seq&apos;, 1, false)
  </delete>

  <update id="updateProjectInfo">
    update project_info set
    end_date = #{endDate},
    project_status = #{projectStatus}
    where project_id = #{projectId}
  </update>


  <insert id="insertProjectEnrolledHistInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;project_enrolled_hist_info&quot;
     (&quot;enrolled_hist_id&quot;,
     &quot;member_id&quot;,
     &quot;project_id&quot;,
      &quot;branch_num&quot;,
      &quot;join_date&quot;,
      &quot;join_member_months&quot;,
      &quot;stop_date&quot;,
      &quot;stop_member_months&quot;,
      &quot;stop_type&quot;,
     &quot;enrolled_status&quot;) values
       (
       #{enrolledHistId,jdbcType=VARCHAR},
       #{memberId,jdbcType=VARCHAR},
       #{projectId,jdbcType=VARCHAR},
       #{branchNum,jdbcType=INTEGER},
       #{joinDate,jdbcType=DATE},
       #{joinMemberMonths,jdbcType=INTEGER},
       #{stopDate,jdbcType=DATE},
       #{stopMemberMonths,jdbcType=INTEGER},
       #{stopType,jdbcType=INTEGER},
       #{enrolledStatus,jdbcType=INTEGER})
  </insert>

  <resultMap id="memberProjectEnrolledHistAndPriceMap" type="MemberHistPriceInfo">
   <id column="tbl_id"/>
   <association property="memberHistInfo" javaType="MemberHistInfo">
           <id property="tblId" column="tbl_id"/>
           <result property="memberId" column="member_id" />
           <result property="startDate" column="start_date" />
           <result property="name" column="name" />
           <result property="enterDate" column="enter_date" />
           <result property="enterOld" column="enter_old" />
           <result property="status" column="status" />
           <result property="retirementDate" column="retirement_date" />
           <result property="retirementType" column="retirement_type" />
           <result property="sex" column="sex" />
           <result property="fleshOrNot" column="flesh_or_not" />
           <result property="department" column="department" />
           <result property="position" column="position" />
   </association>
   <collection property="projectEnrolledHistInfoList" columnPrefix="hist_" resultMap="projectEnrolledHistAndPriceMap" />
  </resultMap>

    <resultMap id="projectEnrolledHistAndPriceMap" type="ProjectEnrolledHistInfo">
    <id property="tblId" column="tbl_id"/>
    <result property="enrolledHistId" column="enrolled_hist_id" />
    <result property="memberId" column="member_id" />
    <result property="projectId" column="project_id" />
    <result property="branchNum" column="branch_num" />
    <result property="joinDate" column="join_date" />
    <result property="joinMemberMonths" column="join_member_months" />
    <result property="stopDate" column="stop_date" />
    <result property="stopMemberMonths" column="stop_member_months" />
    <result property="stopType" column="stop_type" />
    <result property="enrolledStatus" column="enrolled_status" />
    <collection property="priceTransitionInfoList" ofType="PriceTransitionInfo">
      <id property="tblId"  column="price_tbl_id"/>
      <result property="menberMonths" column="price_menber_months"/>
      <result property="enrolledHistId" column="price_enrolled_hist_id"/>
      <result property="priceStartDate" column="price_price_start_date"/>
      <result property="price" column="price_price"/>
    </collection>
  </resultMap>

  <select id="selectAllMemberProjectEnrolledHistAndPrice" resultMap="memberProjectEnrolledHistAndPriceMap">
    select
    m.tbl_id,
    m.member_id,
    m.start_date,
    m.name,
    m.enter_date,
    m.enter_old,
    m.status,
    m.retirement_date,
    m.retirement_type,
    m.sex,
    m.flesh_or_not,
    m.department,
    m.position,
    h.tbl_id as hist_tbl_id,
    h.enrolled_hist_id as hist_enrolled_hist_id,
    h.member_id as hist_member_id,
    h.project_id as hist_project_id,
    h.branch_num as hist_branch_num,
    h.join_date as hist_join_date,
    h.join_member_months as hist_join_member_months,
    h.stop_date as hist_stop_date,
    h.stop_member_months as hist_stop_member_months,
    h.stop_type as hist_stop_type,
    h.enrolled_status as hist_enrolled_status,
    p.tbl_id as hist_price_tbl_id,
    p.menber_months as hist_price_menber_months,
    p.enrolled_hist_id as hist_price_enrolled_hist_id,
    p.price_start_date as hist_price_price_start_date,
    p.price as hist_price_price
    from
    member_hist_info m
    INNER JOIN project_enrolled_hist_info h
       ON m.member_id = h.member_id
       INNER JOIN price_transition_info p
    ON h.enrolled_hist_id = p.enrolled_hist_id
    order by hist_member_id,join_date,price_start_date
  </select>


  <select id="selectAllProjectEnrolledHistInfo" resultType="ProjectEnrolledHistInfo">
    select * from project_enrolled_hist_info
    where member_id = #{memberId}  and project_id = #{projectId}
  </select>


  <select id="selectAllProjectEnrolledHistInfoCount" resultType="Integer">
    select count(*) from project_enrolled_hist_info
  </select>



  <select id="selectAllProjectEnrolledHistYearMonthsInfo" resultType="ProjectEnrolledHistYearMonthsInfo">
    SELECT enrolled_hist_id,member_id,project_id,branch_num,
    join_date,COALESCE(stop_date,CAST(DATE_TRUNC('month', now()) as DATE)) as stop_date,
 	EXTRACT(year from AGE(COALESCE(stop_date,CAST(DATE_TRUNC('month', now()) as DATE)),join_date )) * 12 +
    EXTRACT(month from AGE(COALESCE(stop_date,CAST(DATE_TRUNC('month', now()) as DATE)),join_date )) as year_months ,
    COALESCE(stop_type,'-1') as stop_type from project_enrolled_hist_info
    order by year_months
  </select>




  <select id="selectAllProjectEnrolledHistYearMonthsCountInfo" resultType="YearMonthsCensorCount">
  select t.year_months,
    count(t.stop_type='2' or null) as count,
    count(*) - count(t.stop_type='2' or null) as censored
    from (
    SELECT
 	cast(EXTRACT(year from AGE(COALESCE(stop_date,CAST(DATE_TRUNC('month', now()) as DATE)),join_date )) * 12 +
    EXTRACT(month from AGE(COALESCE(stop_date,CAST(DATE_TRUNC('month', now()) as DATE)),join_date ))as integer)
    as year_months,stop_type
    from project_enrolled_hist_info
        ) t


    group by t.year_months
    order by year_months
  </select>


  <select id="selectCountProjectEnrolledHistInfo" resultType="Integer">
    select count(*) as count from project_enrolled_hist_info
    where member_id = #{memberId}  and project_id = #{projectId}
  </select>

  <select id="selectProjectEnrolledHistId" resultType="String">
    select max(enrolled_hist_id) as enrolled_hist_id from project_enrolled_hist_info
    where member_id = #{memberId}  and project_id = #{projectId}
  </select>

  <select id="selectProjectEnrolledHistInfoBranchNum" resultType="Integer">
    select max(branch_num) as branch_num from project_enrolled_hist_info
    where member_id = #{memberId}  and project_id = #{projectId}
  </select>


 <update id="updateProjectEnrolledHistInfo">
  update project_enrolled_hist_info set
    stop_date = #{stopDate,jdbcType=DATE},
    stop_member_months = #{stopMemberMonths,jdbcType=INTEGER},
    stop_type = #{stopType,jdbcType=INTEGER},
    enrolled_status = #{enrolledStatus,jdbcType=INTEGER}
    where project_enrolled_hist_info.member_id  = #{memberId} AND
        project_enrolled_hist_info.project_id = #{projectId} AND
        project_enrolled_hist_info.branch_num = (select max(branch_num) as branch_num
        from project_enrolled_hist_info
    where member_id = #{memberId,jdbcType=VARCHAR} and project_id = #{projectId,jdbcType=VARCHAR})
</update>

  <delete id="truncateProjectEnrolledHistInfo">
 	 truncate table &quot;public&quot;.&quot;project_enrolled_hist_info&quot;
	</delete>

  <delete id="cleanProjectEnrolledHistInfoTblId">
 	 select setval(&apos;project_enrolled_hist_info_tbl_id_seq&apos;, 1, false)
  </delete>

  <select id="selectCountPriceTransitionInfo" resultType="Integer">
   select count(*) from price_transition_info
    where enrolled_hist_id = #{enrolledHistId}
  </select>

   <select id="selectNowPrice" resultType="Integer">
   select price from price_transition_info
    where enrolled_hist_id = #{enrolledHistId}
     and price_start_date = (
    select max(distinct price_start_date) from price_transition_info
    where enrolled_hist_id = #{enrolledHistId})
  </select>

  <insert id="insertPriceTransitionInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;price_transition_info&quot;
     (&quot;member_id&quot;,&quot;menber_months&quot;,&quot;enrolled_hist_id&quot;,
      &quot;price_start_date&quot;,&quot;price&quot;) values
       (#{memberId,jdbcType=VARCHAR},#{menberMonths,jdbcType=INTEGER},#{enrolledHistId,jdbcType=VARCHAR},
        #{priceStartDate,jdbcType=DATE},#{price,jdbcType=INTEGER})
  </insert>

  <delete id="truncatePriceTransitionInfo">
 	 truncate table &quot;public&quot;.&quot;price_transition_info&quot;
	</delete>

  <delete id="cleanPriceTransitionInfoTblId">
 	 select setval(&apos;price_transition_info_tbl_id_seq&apos;, 1, false)
  </delete>

  <insert id="insertProjectMemberNumInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into &quot;public&quot;.&quot;project_member_num_info&quot;
     (&quot;project_id&quot;, &quot;project_months&quot;, &quot;member_num&quot;) values
       (#{projectId,jdbcType=VARCHAR},#{projectMonths,jdbcType=INTEGER},#{memberNum,jdbcType=INTEGER})
  </insert>

  <insert id="insertSabunProjectMemberNumInfo" useGeneratedKeys="true"
    keyProperty="tblId">
    insert into project_member_num_info (project_id,project_months,member_num)
    select &apos;${projectId,jdbcType=VARCHAR}&apos; as project_id,
    &apos;${projectMonths,jdbcType=INTEGER}&apos; as project_months,
    member_num + (${memberNum,jdbcType=INTEGER}) as member_num from
    project_member_num_info where
    project_months = (select max(project_months) from project_member_num_info
    where project_id = #{projectId,jdbcType=VARCHAR})
    project_id = #{projectId,jdbcType=VARCHAR}
  </insert>

  <select id="selectLastProjectMemberNumInfo" resultType="ProjectMemberNumInfo">
    select * from
    project_member_num_info where
    project_months = (select max(project_months) from project_member_num_info
    where project_id = #{projectId,jdbcType=VARCHAR})
    and project_id = #{projectId,jdbcType=VARCHAR}
  </select>

  <select id="selectCountProjectMemberNumInfo" resultType="Integer">
    select count(*) as count from &quot;public&quot;.&quot;project_member_num_info&quot; where project_id = #{projectId}
  </select>

  <delete id="truncateProjectMemberNumInfo">
 	 truncate table &quot;public&quot;.&quot;project_member_num_info&quot;
	</delete>

  <delete id="cleanProjectMemberNumInfoTblId">
 	 select setval(&apos;project_member_num_info_tbl_id_seq&apos;, 1, false)
  </delete>


</mapper>
