<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration status="OFF">
	<Properties>
	<!--	<Property name="ptn">%d{yyyy-MM-dd HH:mm:ss.SSS} p=%-5p c=%c t=%t C=%C F=%F M=%M L=%L m=%m %n</Property> -->
		<Property name="ptn">%d{yyyy-MM-dd HH:mm:ss.SSS} :p=%-5p C=%C  m=%m %n</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${ptn}" />
		</Console>
		<RollingFile name="file" fileName="log/log4j2.log"
			filePattern="log/%d{yyyyMM}/log4j2_%d{yyyyMMdd}_%i.log">
			<PatternLayout pattern="${ptn}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
	<Logger name="deus_proto" level="debug" additivity="false">
		    <AppenderRef ref="console" />
		    <AppenderRef ref="file" />
	    </Logger>
	     <Logger name="sim" level="debug" additivity="false">
		    <AppenderRef ref="console" />
		    <AppenderRef ref="file" />
	    </Logger>
	    <Root level="all">
		<!--
		<AppenderRef ref="console" />
		<AppenderRef ref="file" />
		-->
		</Root>
	</Loggers>
</Configuration>
