<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="logImpl" value="LOG4J2"/>
  </settings>
  <typeAliases>
      <package name="mybaits.vo"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/deusdb"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mybatis/mapper/DeusMapper.xml"/>
    <mapper resource="mybatis/mapper/MemberHistInfoMapper.xml"/>
    <mapper resource="mybatis/mapper/ClientInfoMapper.xml"/>
    <mapper resource="mybatis/mapper/ProjectInfoMapper.xml"/>
    <mapper resource="mybatis/mapper/ProjectEnrolledHistInfoMapper.xml"/>
    <mapper resource="mybatis/mapper/PriceTransitionInfoMapper.xml"/>
    <mapper resource="mybatis/mapper/ProjectMemberNumInfoMapper.xml"/>
    <mapper resource="mybatis/mapper/CovariatesMstMapper.xml"/>
  </mappers>
</configuration>